{% extends 'shop/base.html' %}

{% block content %}
        {% for product in products %}
            {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-md-3">
                <div class="card">
                    <a href="{% url 'detail' product.id %}"><img src="{{ product.image }}" class="card-img-top"></a>
                    <div class="card-body">
                        <div id="nm{{product.id}}" class="card-title"><h6>{{ product.title }}</h6></div>
                        <div class="card-text">
                            <h5>$ {{ product.price }}</h5>
                            <p>{{ product.description }}</p>
                        </div>
                        <a href="{% url 'detail' product.id %}" class="btn btn-info">View</a>
                        <button id="{{ product.id }}" class="btn atc btn-success">Add to cart</button>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a> </li>
                    {% endif %}

                    <li class="page-item active"><a class="page-link" href="?page={{ products.number }}">Current</a> </li>

                    {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a> </li>
                    {% endif %}
                </ul>
            </div>
        </div>

<script>
    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    $(document).on('click', '.atc', function(){
        console.log('The add to cart button is clicked.')
        let item_id = this.id.toString()
        if(cart[item_id]!=undefined){
            quantity = cart[item_id][0] + 1;
            cart[item_id][0] = quantity;
        }
        else{
            quantity = 1;
            var name = document.getElementById("nm"+item_id).innerText;
            cart[item_id] = [quantity, name];
        }
        localStorage.setItem('cart', JSON.stringify(cart))
        document.getElementById('cart').innerHTML = "Cart(" + Object.keys(cart).length + ")";
    })

    DisplayCart(cart);

    function DisplayCart(cart){
        var cartString = "";
        cartString += "<h5>This is your cart</h5>";
        var cartIndex = 1;
        for(var x in cart){
            cartString += cartIndex;
            cartString += document.getElementById("nm"+x).innerText + "Qty:" + cart[x][0] + "<br/>";
            cartIndex += 1;
        }
        cartString += "<a href='/checkout' class='btn btn-warning' id='checkout'>Checkout</a>";
        document.getElementById('cart').setAttribute('data-content', cartString);
        $('[data-toggle="popover"]').popover();
    }

</script>

{% endblock %}
